@font-face {
  font-family: "Breathe-Fire";
  src: url(Breathe-Fire.otf);
}
/*#canvas{
	position: absolute;
	border:1px solid black;
	width: 100%;
	height: 100%;
	z-index:-1;
}*/
html,body{
	margin:0;
	padding: 0;
	height:100%;
	font-family: Breathe-Fire;
	font-size: 80px;
	overflow:hidden;

}
#navbar{
	/*position: fixed;*/
	width:100%;
	height:30px;
	background-color: rgba(0,0,0,0.3);
	display: flex;
	/*align-items: flex-start;*/
	justify-content: flex-end;
}
#container-wrapper{
	display: flex;
	justify-content: center;
	align-items: center;
	/*height: 100%;*/
}
.player{
	/*border:1px solid black;*/
	text-align: center;
	width:100%;
	height: 100%;
	vertical-align: middle;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

}
.name{
	/*border: 1px solid black;*/
	width:80%;
	font-size: 20px;
	display: flex;
	color: rgba(0,0,0,0.5);

}
.controller-wrapper{
	/*border: 2px solid red;*/
	text-align: center;
	width:90%;
	height: 85%;
	vertical-align: middle;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}
.plus,.minus,.life{
	width: 100%;
	vertical-align: middle;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size:100%;
}
.plus,.minus{
	/*border:1px solid orange;*/
	flex-grow: 1;
	color:black;
    box-shadow: 1px 1px 1px 5px rgba(0,0,0,0.1);
    border-radius: 5px;

}
.life{
	/*border:1px solid blue;*/
	flex-grow: 2;
	/*color: green;*/
}
input,input:focus{
	text-align: center;
	text-decoration: none;
	outline: none;
	font-size: 30px;
	font-family: Breathe-Fire;
	width:100%;
}
button{
	text-align: center;
	width:10%;
	/*border:1px solid black;*/
}